html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 5px;
}

.radio__label {
  font-size: 2rem;
}

.radio {
  width: 6rem;
}

.input__name .inputs { 
  height: 50px;
  font-size: 30px;
  width: 100px;
  background-color: red;
  color: aliceblue;
}

.input__name {
  font-size: 24px;
}

.turn__button {
  height: 50px;
  width: 70px;
  font-size: 24px;
}
