html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 5px;
}


.radio {
  display: none;
}

.input__name .inputs { 
  height: 50px;
  font-size: 30px;
  width: 100px;
  background-color: red;
  color: aliceblue;
}

.input__name {
  font-size: 24px;
}

.turn__button {
  height: 50px;
  width: 70px;
  font-size: 24px;
}

.radio-label:hover {
  transition: color 200ms;
  background-color: brown;
  color:aliceblue;
}


.radio-label {
  font-size: 2rem;
  border: black 2px solid;
  width: 25%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.radio-conteiner {
 display: flex;
 flex-direction: row;
 justify-content: center;
}


.brown {
  background-color: brown;
  color:aliceblue;
}

.inputs {
  width: 60px;
}